form {
    display: Grid;
    font-size: 25px;
    font-family: avenir;
    letter-spacing: 0px;
    font-weight: bold;
    color: palevioletred;
    padding: 0.5em 1em;
    border: 2px solid palevioletred;
    border-radius: 3px;
    width: auto;
}

.Grey {
    background: #707070;
}

.Green{
    background: #486b48;
}

.Blue{
    background: #3a6080;
}

.Yellow{
    background: #b4b646;
}